
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content" id="modal-content">
        </div>
    </div>
</div>
<div id="page-wrapper">
    <h2>Index</h2>
    <table id="myTable">
        <thead>
            <tr>
                <th>ID</th>
                <th>IP</th>
                <th>Ad Soyad</th>
                <th>Mail</th>
                <th>Konu</th>
                <th>İşlem</th>
            </tr>
        </thead>
    </table>
</div>
<link href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css" rel="stylesheet" />
@section Scripts{
    <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <script>
        function IletisimDetay(id) {
            $.ajax({
                type: "GET",
                url: "/Iletisim/Detay",
                contentType: "application/json; charset=utf-8",
                data: { "id": id },
                datatype: "json",
                success: function (data) {
                    debugger;
                    $('#modal-content').html(data);
                    $('#myModal').modal('show');

                },
                error: function () {
                    alert("Popup yüklenirken bir hata oluştu.");
                }
            });


            $(".close").click(function () {
                $('#myModal').modal('hide');
            });
        };
        function IletisimSil(id) {
            $.ajax({
                url: '/Iletisim/Sil/' + id,
                type: "POST",
                datatype: "json",
                success: function (response) {
                    if (response.Success) {
                        $.notify(response.Message, "success");
                        setTimeout(function () {
                            location.reload();
                        }, 2000);

                    }
                    else {
                        $.notify(response.Message, "error");
                    }
                }
            })
        };
        $(document).ready(function () {
            var table = $("#myTable").DataTable({
                "ajax": {
                    "url": "/Iletisim/LoadData",
                    "type": "GET",
                    "datatype": "json"
                },
                "columns": [
                    { "data": "ID", "autoWidth": true },
                    { "data": "IP", "autoWidth": true },
                    { "data": "Adsoyad", "autoWidth": true },
                    { "data": "Mail", "autoWidth": true },
                    { "data": "Konu", "autoWidth": true },
                    {
                        "render": function (data, type, row) {
                            return '<button type="button"  onclick="IletisimDetay(' + row.ID + ')" class="btn btn-primary btn-sm">Detay</button>&nbsp;&nbsp;<button type="button" onclick="IletisimSil(' + row.ID + ')" class="btn btn-danger btn-sm">Sil</button>';
                        }
                    }
                ]
            });

        });
    </script>
}




